/* Belarus */

@font-face {
  font-family: "Belarus";
  src: url("Belarus/Belarus-Regular.ttf") format("truetype");
}

/* OoM */

@font-face {
  font-family: "OoM";
  src: url("OoM/Cakra-Normal.woff2") format("woff2");
}

/* Nebulas */

@font-face {
  font-family: "Nebulas-reg";

  src: url("Nebulas/Nebulas-Regular.otf") format("otf");
}

@font-face {
  font-family: "Nebulas";
  font-weight: 500;
  src: url("Nebulas/Nebulas-Medium.otf") format("otf");
}

@font-face {
  font-family: "Nebulas";
  font-weight: 600;
  src: url("Nebulas/Nebulas-SemiBold.otf") format("otf");
}

@font-face {
  font-family: "Nebulas";
  font-weight: 700;
  src: url("Nebulas/Nebulas-Bold.otf") format("otf");
}

@font-face {
  font-family: "Nebulas";
  font-weight: 800;
  src: url("Nebulas/Nebulas-ExtraBold.otf") format("otf");
}

@font-face {
  font-family: "Nebulas";
  font-weight: 900;
  src: url("Nebulas/Nebulas-Black.otf") format("otf");
}

/* Cabinet Grotesk */

@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Variable.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Thin";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Thin.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Thin.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Extralight";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Extralight.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Extralight.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Light";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Light.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Light.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Regular";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Regular.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Regular.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Medium.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Bold.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Extrabold.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Extrabold.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Black";
  src: url("Cabinet-Grotesk/CabinetGrotesk-Black.woff2") format("woff2"),
    url("Cabinet-Grotesk/CabinetGrotesk-Black.woff") format("woff"),
    url("Cabinet-Grotesk/CabinetGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}

/* Gilroy */

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"),
    url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Regular.woff2") format("woff2"),
    url("Gilroy-Regular.woff") format("woff"),
    url("Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ExtraboldItalic.eot");
  src: local("Gilroy Extrabold Italic"), local("Gilroy-ExtraboldItalic"),
    url("Gilroy-ExtraboldItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-ExtraboldItalic.woff2") format("woff2"),
    url("Gilroy-ExtraboldItalic.woff") format("woff"),
    url("Gilroy-ExtraboldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"),
    url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Bold.woff2") format("woff2"),
    url("Gilroy-Bold.woff") format("woff"),
    url("Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Black.eot");
  src: local("Gilroy Black"), local("Gilroy-Black"),
    url("Gilroy-Black.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Black.woff2") format("woff2"),
    url("Gilroy-Black.woff") format("woff"),
    url("Gilroy-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"),
    url("Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Light.woff2") format("woff2"),
    url("Gilroy-Light.woff") format("woff"),
    url("Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
    url("Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Semibold.woff2") format("woff2"),
    url("Gilroy-Semibold.woff") format("woff"),
    url("Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"),
    url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Medium.woff2") format("woff2"),
    url("Gilroy-Medium.woff") format("woff"),
    url("Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-MediumItalic.eot");
  src: local("Gilroy Medium Italic"), local("Gilroy-MediumItalic"),
    url("Gilroy-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-MediumItalic.woff2") format("woff2"),
    url("Gilroy-MediumItalic.woff") format("woff"),
    url("Gilroy-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-BlackItalic.eot");
  src: local("Gilroy Black Italic"), local("Gilroy-BlackItalic"),
    url("Gilroy-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-BlackItalic.woff2") format("woff2"),
    url("Gilroy-BlackItalic.woff") format("woff"),
    url("Gilroy-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-UltraLight.eot");
  src: local("Gilroy UltraLight"), local("Gilroy-UltraLight"),
    url("Gilroy-UltraLight.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-UltraLight.woff2") format("woff2"),
    url("Gilroy-UltraLight.woff") format("woff"),
    url("Gilroy-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-RegularItalic.eot");
  src: local("Gilroy Regular Italic"), local("Gilroy-RegularItalic"),
    url("Gilroy-RegularItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-RegularItalic.woff2") format("woff2"),
    url("Gilroy-RegularItalic.woff") format("woff"),
    url("Gilroy-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-SemiboldItalic.eot");
  src: local("Gilroy Semibold Italic"), local("Gilroy-SemiboldItalic"),
    url("Gilroy-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-SemiboldItalic.woff2") format("woff2"),
    url("Gilroy-SemiboldItalic.woff") format("woff"),
    url("Gilroy-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-HeavyItalic.eot");
  src: local("Gilroy Heavy Italic"), local("Gilroy-HeavyItalic"),
    url("Gilroy-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-HeavyItalic.woff2") format("woff2"),
    url("Gilroy-HeavyItalic.woff") format("woff"),
    url("Gilroy-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Extrabold.eot");
  src: local("Gilroy Extrabold"), local("Gilroy-Extrabold"),
    url("Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Extrabold.woff2") format("woff2"),
    url("Gilroy-Extrabold.woff") format("woff"),
    url("Gilroy-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-BoldItalic.eot");
  src: local("Gilroy Bold Italic"), local("Gilroy-BoldItalic"),
    url("Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-BoldItalic.woff2") format("woff2"),
    url("Gilroy-BoldItalic.woff") format("woff"),
    url("Gilroy-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-UltraLightItalic.eot");
  src: local("Gilroy UltraLight Italic"), local("Gilroy-UltraLightItalic"),
    url("Gilroy-UltraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-UltraLightItalic.woff2") format("woff2"),
    url("Gilroy-UltraLightItalic.woff") format("woff"),
    url("Gilroy-UltraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-LightItalic.eot");
  src: local("Gilroy Light Italic"), local("Gilroy-LightItalic"),
    url("Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-LightItalic.woff2") format("woff2"),
    url("Gilroy-LightItalic.woff") format("woff"),
    url("Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Heavy.eot");
  src: local("Gilroy Heavy"), local("Gilroy-Heavy"),
    url("Gilroy-Heavy.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Heavy.woff2") format("woff2"),
    url("Gilroy-Heavy.woff") format("woff"),
    url("Gilroy-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-Thin.eot");
  src: local("Gilroy Thin"), local("Gilroy-Thin"),
    url("Gilroy-Thin.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-Thin.woff2") format("woff2"),
    url("Gilroy-Thin.woff") format("woff"),
    url("Gilroy-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("Gilroy-ThinItalic.eot");
  src: local("Gilroy Thin Italic"), local("Gilroy-ThinItalic"),
    url("Gilroy-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("Gilroy-ThinItalic.woff2") format("woff2"),
    url("Gilroy-ThinItalic.woff") format("woff"),
    url("Gilroy-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

/* Apercu */

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro.eot");
  src: local("Apercu Pro"), local("ApercuPro"),
    url("ApercuPro.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro.woff2") format("woff2"), url("ApercuPro.woff") format("woff"),
    url("ApercuPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro-MediumItalic.eot");
  src: local("Apercu Pro Medium Italic"), local("ApercuPro-MediumItalic"),
    url("ApercuPro-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro-MediumItalic.woff2") format("woff2"),
    url("ApercuPro-MediumItalic.woff") format("woff"),
    url("ApercuPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro-Italic.eot");
  src: local("Apercu Pro Italic"), local("ApercuPro-Italic"),
    url("ApercuPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro-Italic.woff2") format("woff2"),
    url("ApercuPro-Italic.woff") format("woff"),
    url("ApercuPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro-BoldItalic.eot");
  src: local("Apercu Pro Bold Italic"), local("ApercuPro-BoldItalic"),
    url("ApercuPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro-BoldItalic.woff2") format("woff2"),
    url("ApercuPro-BoldItalic.woff") format("woff"),
    url("ApercuPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro-Mono.eot");
  src: local("Apercu Pro Mono"), local("ApercuPro-Mono"),
    url("ApercuPro-Mono.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro-Mono.woff2") format("woff2"),
    url("ApercuPro-Mono.woff") format("woff"),
    url("ApercuPro-Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro-Bold.eot");
  src: local("Apercu Pro Bold"), local("ApercuPro-Bold"),
    url("ApercuPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro-Bold.woff2") format("woff2"),
    url("ApercuPro-Bold.woff") format("woff"),
    url("ApercuPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("ApercuPro-Medium.eot");
  src: local("Apercu Pro Medium"), local("ApercuPro-Medium"),
    url("ApercuPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("ApercuPro-Medium.woff2") format("woff2"),
    url("ApercuPro-Medium.woff") format("woff"),
    url("ApercuPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
