$index: calc(1vw + 1vh);
$text-color-orange: #f7941d;

header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 30px;
  z-index: 9999;

  .mainMenu {
    top: 30px;
    width: 100%;

    .mainMenu__bar:hover {
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 1));
      transition: 0.3s;
    }

    .mainMenu__bar {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      list-style: none;
      padding: 15px 20px;
      border-radius: 60px;
      background-color: #dcd9d4;
      background-color: #e4e4e1;
      background-image: linear-gradient(to right, #283d5a 0%, #1b2d46 100%);
      height: 50px;
      filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
      transition: 0.3s;
      .mainMenu__logo {
        cursor: pointer;
        a img {
          filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.8));
        }
      }

      .mainMenu__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        justify-content: flex-end;

        .mainMenu__menu {
          width: 100%;
        }
        .menu {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          list-style: none;
          padding: 0;
          margin: 0;
          justify-content: flex-end;
          .menu__item {
            margin: 0 15px;
            a {
              position: relative;

              font-size: 16px;
              color: #dfdfdf;
              border: 1px solid transparent;
              padding: 5px 20px;
              border-radius: 80px;
              text-decoration: none;
              font-family: "CabinetGrotesk-Variable", sans-serif;
              transition: 0.3s;
              font-weight: 700;
              text-transform: uppercase;
            }

            a:hover {
              border: 1px solid rgba($color: white, $alpha: 0.5);
              transition: 0.3s;
            }

            .active {
              color: $text-color-orange;
              transition: 0.3s;
              font-weight: 800;
            }
          }
          .menu__spacer {
            height: 20px;
            width: 2px;
            background: rgba($color: white, $alpha: 0.5);
            border-radius: 2px;
          }
        }
      }

      .mainMenu__hamburger i {
        color: #fff;
        cursor: pointer;
        font-size: calc($index * 1.5);
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .mainMenu__hamburger i {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .mainMenu {
    z-index: 100;
    .mainMenu__content {
      visibility: hidden;
      position: absolute;
      left: 50%;
      opacity: 0;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to right, #283d5a 0%, #1b2d46 100%);
      border-radius: 40px;
      justify-content: center;
      flex-direction: column;
      z-index: -1;
      border-radius: 30px;
      top: 210px;
      transition: 0.3s;

      .mainMenu__menu {
        margin-right: 0 !important;
        margin-top: 80px;
      }
      .menu {
        flex-direction: column;
        row-gap: 20px;

        .menu__item:last-child {
          padding-bottom: 20px;
        }

        .menu__spacer {
          height: 1px !important;
          width: 150px !important;
          background: rgba($color: white, $alpha: 0.5);
          border-radius: 2px;
        }
      }
    }

    .mainMenu__content.openNavBar {
      visibility: unset;
      opacity: 1 !important;
      top: 210px;
      transition: 0.3s;
    }
  }

  .mainMenu__bar {
    justify-content: space-between;
  }
}
