.menu {
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  .logo {
    height: 70px;
  }

  ul {
    list-style-type: none;
    display: flex;
    text-justify: auto;
    align-items: center;
    font-size: 1.5em;
    li {
      display: inline;
    }
    li > a {
      color: white;
      text-decoration: none;
      margin: 0 50px;
      transition: 0.3s;
    }
    li > a:hover {
      color: #ffa500;
      transition: 0.3s;
    }
  }
}
