$index: calc(1vw + 1vh);

.menu {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 100;
  .logo {
    height: calc($index * 2.5);
  }

  ul {
    list-style-type: none;
    display: flex;
    text-justify: auto;
    align-items: center;
    font-size: calc($index * 0.9);
    padding: 0;
    margin: 0;
    li {
      display: inline;
    }
    li > a {
      color: white;
      text-decoration: none;
      margin: 0 50px;
      transition: 0.3s;
    }
    li > a:hover {
      color: #ffa500;
      transition: 0.3s;
    }
  }
}
