$index: calc(1vw + 1vh);
$project-gap: calc($index * 5);
$text-color-orange: #f7941d;
$transition: 1.25s cubic-bezier(0.2, 0.5, 0, 1);
$transition-cursor: 2s cubic-bezier(0.05, 0.5, 0, 1);

::ng-deep {
  .swiper-button-prev,
  .swiper-button-next {
    background: rgba($color: #000000, $alpha: 0);
    filter: drop-shadow(0px 0px 5px white);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $text-color-orange;
    font-size: 20px;
  }
  .swiper-pagination-bullet-active {
    background: $text-color-orange;
  }
}

.header {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  height: 100vh;

  swiper {
    width: 100vw;
    height: 100vh;

    .slide-content {
      position: relative;

      .slide-content__textblock {
        position: absolute;
        width: calc($index * 15);
        height: calc($index * 10);
        bottom: calc($index * 2);
        left: calc($index * 2);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px;

        a {
          text-decoration: none;
        }
        .textblock__h {
          font-weight: 900;
          font-size: calc($index * 1.5);
          margin: 0;
          text-align: center;
          margin: 0;
          font-family: "OoM";
          font-size: calc($index * 2);
          color: rgb(255, 255, 255);
          filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.3));
        }

        .textblock__desc {
          margin: 0;
          margin-top: 15px;
          font-size: calc($index * 0.5);
          color: #ffa500;
        }
      }
    }

    .video {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      filter: brightness(0.5);
    }
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin: 50px auto;
  }

  .swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 300px;
  }
}

.works {
  background: linear-gradient(rgba(0, 0, 0, 0.05) 1px, black 1px),
    linear-gradient(90deg, rgb(0 0 0 / 80%) 1px, black 1px);
  background-size: 10px 10px;
  .back__circle1 {
    position: absolute;
    width: 500px;
    height: 600px;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    filter: blur(10px);
    border-radius: 47% 53% 70% 30% / 47% 50% 50% 53%;
    left: -20px;
    top: 800px;
  }

  .back__circle2 {
    position: absolute;
    width: 700px;
    height: 1000px;
    background-image: linear-gradient(-60deg, #16a085 0%, #f4d03f 100%);
    filter: blur(10px);
    border-radius: 64% 36% 47% 53% / 16% 50% 50% 84%;
    right: -200px;
    top: 1100px;
  }

  .works__h1 {
    font-family: "Belarus";
    font-size: calc($index * 5);
    color: white;
    padding: 50px 0 0 100px;
  }

  .projects {
    display: flex;
    padding: calc($index * 5) 0;
    .project__card {
      max-width: 600px;
      overflow: hidden;
      position: relative;
      border-radius: 8px;
      box-shadow: 10px 10px 32px 10px rgba(0, 0, 0, 0.5);
      margin-bottom: $project-gap;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .project__card .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .text-block {
      display: flex;
      flex-direction: column;
      font-weight: 900;

      .text-block__h {
        font-weight: 900;
      }

      .text-block__p {
        font-weight: normal;
      }
    }

    .project__card:hover .overlay {
      opacity: 1;
      cursor: pointer;
    }
  }

  .projects > * {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

#smooth-content,
.projects-left > *,
.projects-right > * {
  will-change: transform;
}

@media screen and (max-width: 1000px) {
}
