<div class="header">
  <div class="slider">
    <swiper
      [slidesPerView]="1"
      [loop]="true"
      [lazy]="true"
      [autoplay]="{ delay: 5000 }"
      [speed]="1000"
      [grabCursor]="true"
      [freeMode]="true"
      [touchRatio]="2"
      [effect]="'fade'"
    >
      <ng-template swiperSlide *ngFor="let video of videos">
        <div class="slide-content" data-swiper-parallax="-300">
          <div class="slide-content__textblock">
            <a routerLink="/work/{{ video.link }}" title="Посмотреть проект"
              ><h2 class="textblock__h">{{ video.text }}</h2></a
            >
          </div>
          <video
            class="video"
            [src]="video.url"
            autoplay="autoplay"
            loop="loop"
            [muted]="'muted'"
            muted
          ></video></div
      ></ng-template>
    </swiper>
  </div>
</div>
