$index: calc(1vw + 1vh);
$project-gap: calc($index * 5);
$text-color-orange: #f7941d;
$transition: 1.25s cubic-bezier(0.2, 0.5, 0, 1);
$transition-cursor: 2s cubic-bezier(0.05, 0.5, 0, 1);

// Color pallete //
$text: #e9e8e7;
$background: #141414;
$primary: #f7941d;
$secondary: #18191b;
$accent: #847b84;
//--------------//

::ng-deep {
  .swiper-button-prev,
  .swiper-button-next {
    background: rgba($color: #000000, $alpha: 0);
    filter: drop-shadow(0px 0px 5px white);
    border-radius: 100%;
    width: 30px;
    height: 30px;
    transition: 0.3s;
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: $text-color-orange;
    font-size: 20px;
  }
  .swiper-pagination-bullet-active {
    background: $text-color-orange;
  }
}

.header {
  background: $background;
  height: 100vh;
  position: relative;

  .slider {
    width: 100%;
    height: 100%;
    padding: 90px 15px 15px 15px;
  }

  swiper {
    width: 100%;
    height: 100%;

    border-radius: 15px;

    .slide-content {
      position: relative;
      width: 100%;
      height: 100%;

      .slide-content__textblock {
        position: absolute;
        width: max-content;

        bottom: calc($index * 2);
        left: calc($index * 2);
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;

        a {
          text-decoration: none;
        }

        .textblock__h {
          font-weight: 900;
          margin: 0;
          text-align: center;
          margin: 0;
          font-family: "CabinetGrotesk-Variable", sans-serif;
          font-size: calc($index * 2);
          color: rgb(255, 255, 255);
          filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.3));
        }
      }

      .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.8);
      }
    }
  }
}

.work {
  height: max-content;
  width: 100vw;
  background: $background;
  padding: 15px;

  .work__h {
    color: $text;
    font-size: calc($index * 5);
    margin: 0;
    padding-left: 250px;
  }

  .wrapper {
    display: grid;
    grid:
      "left-content right-content" 1fr
      / 1fr 1fr;
    gap: 60px;
    justify-items: center;

    .left-content {
      grid-area: left-content;
      margin-top: 50%;
      gap: 30vh;
      display: flex;
      flex-direction: column;
    }
    .right-content {
      grid-area: right-content;
      gap: 30vh;
      display: flex;
      flex-direction: column;
    }

    .work__card {
      height: 700px;
      width: 100%;

      .card__header {
        overflow: hidden;
        transition: 0.4s;
        border-radius: 15px;
        object-fit: cover;
        height: 90%;

        img {
          height: 100%;
          width: 100%;
          transition: 0.4s;
          border-radius: 15px;
        }
      }
      .card__header:hover img {
        transform: scale(1.1);
        transition: 0.4s;
      }

      .card__text {
        color: $text;
        font-size: calc($index * 1.25);
        height: 10%;
      }
    }
  }
}

.team {
  height: 200vh;
  width: 100vw;
  background: $background;
  padding: 15px;

  .team__h {
    color: $text;
    font-size: calc($index * 5);
    margin: 0;
    padding-left: 250px;
  }
  .wrapper {
    display: grid;
    grid:
      "left-content right-content" 1fr
      / 1fr 1fr;
    gap: 60px;
    justify-items: center;

    .left-content {
      grid-area: left-content;
      margin-top: 50%;
      gap: 30vh;
      display: flex;
      flex-direction: column;
    }
    .right-content {
      grid-area: right-content;
      gap: 30vh;
      display: flex;
      flex-direction: column;
    }

    .work__card {
      height: 700px;
      width: 100%;

      .card__header {
        overflow: hidden;
        transition: 0.4s;
        border-radius: 15px;
        object-fit: cover;
        height: 90%;

        img {
          height: 100%;
          width: 100%;
          transition: 0.4s;
          border-radius: 15px;
        }
      }
      .card__header:hover img {
        transform: scale(1.1);
        transition: 0.4s;
      }

      .card__text {
        color: $text;
        font-size: calc($index * 1.25);
        height: 10%;
      }
    }
  }
}

.partners {
  height: 100vh;
  width: 100vw;
  background: $background;
  padding: 15px;
  overflow: hidden;

  .partners__h {
    color: $text;
    font-size: calc($index * 5);
    margin: 0;
    padding-left: 250px;
  }

  .wrapper {
    width: max-content;
    height: max-content;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    align-items: center;
  }
  img {
    width: 200px;
    object-fit: cover;
    display: flex;
  }
}
.footer {
  height: 400px;
  padding: 15px;
  background: $background;
  border: none;

  .wrapper {
    width: 100%;
    height: 100%;
    background: greenyellow;
    border-radius: 15px;
    padding: 15px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 200px;

    img {
      position: absolute;
      top: 15px;
      left: 15px;
    }

    .text-block {
      color: $background;
      display: flex;
      flex: 3;

      .text {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: $background;
        font-size: 14px;
      }
    }

    .social-block {
      flex: 1;
    }
  }
}
@media screen and (max-width: 1440px) {
  .work,
  .team {
    .wrapper {
      display: flex !important;
      justify-items: center;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      .left-content,
      .right-content {
        margin-top: 0 !important;
        gap: 0 !important;
      }
    }
  }
}
