<header class="header">
  <div class="slider">
    <swiper
      [slidesPerView]="1"
      [loop]="true"
      [lazy]="true"
      [autoplay]="{ delay: 5000 }"
      [speed]="1000"
      [grabCursor]="true"
      [freeMode]="true"
      [touchRatio]="2"
      [effect]="'fade'"
    >
      <ng-template swiperSlide *ngFor="let video of videos">
        <div class="slide-content" data-swiper-parallax="-300">
          <div class="slide-content__textblock">
            <a routerLink="/work/{{ video.link }}" title="Посмотреть проект"
              ><h2 class="textblock__h">{{ video.text }}</h2></a
            >
          </div>
          <video
            class="video"
            [src]="video.url"
            autoplay="autoplay"
            loop="loop"
            [muted]="'muted'"
            muted
          ></video></div
      ></ng-template>
    </swiper>
  </div>
</header>

<section id="cases" class="section section-small">
  <div class="cases">
    <div class="case-main" *ngFor="let work of works ">
      <div class="case-main-container">
        <div class="case-main-preview">
          <div style="opacity: 1; transform: none">
            <img
              alt="img"
              loading="lazy"
              decoding="async"
              data-nimg="1"
              class="case-main-preview-image"
              src="{{ work.image }}"
              style="color: transparent; object-fit: cover"
            />
          </div>
        </div>
        <div class="case-main-content">
          <div class="case-main-title">
            <div style="opacity: 1; transform: none">{{ work.name }}</div>
          </div>
          <div class="case-main-description">
            <div style="opacity: 1; transform: none">
              {{ work.description }}
            </div>
          </div>
          <div class="case-main-text">
            <div style="opacity: 1; transform: none">
              {{ work.more_text }}
            </div>
          </div>
          <div class="case-main-tags">
            <div style="opacity: 1; transform: none">
              <div class="space space-horizontal" style="gap: 0.5em">
                <div class="tag">Figma</div>
                <div class="tag">Angular</div>
                <div class="tag">React Native</div>
                <div class="tag">Java</div>
              </div>
            </div>
          </div>
          <div class="case-main-actions">
            <div style="opacity: 1; transform: none">
              <button
                type="button"
                class="button-circle button-circle-primary button-circle-medium"
              >
                <div class="button-circle-container">
                  <div class="button-circle-icon-wrapper">
                    <span class="button-circle-icon">
                      <i class="ri-add-line" style="color: white"></i>
                    </span>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="work">
  <h2 class="work__h">Work</h2>

  <div class="wrapper">
    <div class="left-content">
      <ng-container *ngFor="let work of works | slice : 0 : 4; let i = index">
        <div class="work__card" *ngIf="i % 2 !== 0; else oddItem">
          <div class="card__header">
            <img src="{{ work.image }}" alt="" />
          </div>
          <div class="card__text">
            <div class="info">
              {{ work.description }}
            </div>
          </div>
        </div>
        <ng-template #oddItem></ng-template>
      </ng-container>
    </div>

    <div class="right-content">
      <ng-container *ngFor="let work of works | slice : 0 : 4; let i = index">
        <div class="work__card" *ngIf="i % 2 === 0; else notOddItem">
          <div class="card__header">
            <img src="{{ work.image }}" alt="" />
          </div>
          <div class="card__text">
            <div class="info">
              {{ work.description }}
            </div>
          </div>
        </div>
        <ng-template #notOddItem></ng-template>
      </ng-container>
    </div>

    <ng-container></ng-container>
  </div>
</section>

<section class="team">
  <h2 class="team__h">About Team</h2>
  <div class="wrapper">
    <div class="left-content">
      <ng-container *ngFor="let work of works | slice : 0 : 2; let i = index">
        <div class="work__card" *ngIf="i % 2 !== 0; else oddItem">
          <div class="card__header">
            <img src="assets/imgs/man.jpg" alt="" />
          </div>
          <div class="card__text">
            <div class="info">Man</div>
            <div class="info">Atrist</div>
          </div>
        </div>
        <ng-template #oddItem></ng-template>
      </ng-container>
    </div>

    <div class="right-content">
      <ng-container *ngFor="let work of works | slice : 0 : 4; let i = index">
        <div class="work__card" *ngIf="i % 2 === 0; else notOddItem">
          <div class="card__header">
            <img src="assets/imgs/man.jpg" alt="" />
          </div>
          <div class="card__text">
            <div class="info">Man</div>
            <div class="info">Atrist</div>
          </div>
        </div>
        <ng-template #notOddItem></ng-template>
      </ng-container>
    </div>

    <ng-container></ng-container>
  </div>
</section>

<section class="partners">
  <h2 class="team__h">Partners</h2>
  <div class="wrapper" #draggableItem>
    <img src="assets/imgs/vimeo_logo.png" alt="" />
    <img src="assets/imgs/facebook_logo.png" alt="" />
    <img src="assets/imgs/instagram_logo.png" alt="" />
    <img src="assets/imgs/youtube_logo.png" alt="" />
  </div>
</section>

<footer class="footer">
  <div class="wrapper">
    <img src="assets/imgs/logo.png" alt="" height="40" />

    <div class="text-block">
      <p class="info">
        The studio "Asymmetry" (A-VFX) specializes in the production of 3D
        animation and visual effects for feature films and TV series. The main
        office is located in Moscow.
      </p>
      <p class="text">All rights reserved™®©</p>
    </div>

    <div class="social-block">
      <p class="info">
        The studio "Asymmetry" (A-VFX) specializes in the production of 3D
        animation and visual effects for feature films and TV series. The main
        office is located in Moscow.
      </p>
      <p class="text">All rights reserved™®©</p>
    </div>
  </div>
</footer>
