/* You can add global styles to this file, and also import other style files */
@import "src/assets/fonts/fontStyles.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #141414;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #464545;
  border-radius: 5px;
}
